@model GrupparbeteMVC.Models.Ticket

<h1> Ticket @Html.DisplayFor(model => model.Id) </h1>
<div> Find information about ticket here. @Html.DisplayFor(model => model.Id). </div>
@Html.HiddenFor(model => model.Id)
<br />

Title: @Html.DisplayFor(model => model.Title)
<br />

Text: @Html.DisplayFor(model => model.Description)
<br />

Author: @Html.DisplayFor(model => model.Creator)
<br />
<br />
<br />



Response from owner: @Html.DisplayFor(model => model.Reply)