@using GrupparbeteMVC.Models;
@model List<Ticket>

<h1>Ticket support</h1>

<br />

<h4><a asp-action="Create">Create a new ticket</a></h4>

<br />

<div>----------------------------------</div>

@foreach (Ticket item in Model)
{
        <span> @Html.LabelFor(modelItem => item.Id) </span>
    @Html.DisplayFor(modelItem => item.Id)

        <br />

        <span>Title:</span>
        <span> @Html.DisplayFor(modelItem => item.Title) </span>

        <br />

        <span>Text:</span>
        <span>@Html.DisplayFor(modelItem => item.Description)</span>

        <br />

        <span>Author:</span>
        <span>@Html.DisplayFor(modelItem => item.Creator)</span>

        <br />

        <a asp-action="Details" asp-route-id="@item.Id">Show ticket</a>

        <br />

        <a asp-action="Edit" asp-route-id="@item.Id">Edit ticket</a>

        <br />

        <a asp-action="Delete" asp-route-id="@item.Id">Remove ticket</a>

        <br />

        <a asp-action="Reply" asp-route-id="@item.Id">Respond to ticket</a>

        <br />


        <div>---------------------------------------------</div>
}